.container-wrapper {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .heading1
  {
    margin-top:30px;
    font-size: 24px;
    margin-right: 500px;
    color: #615f89;
    font-weight: bold;
    margin-bottom: 5px; 
  }
  .heading {
    font-size: 24px;
    margin-right: 500px;
    color: #615f89;
    font-weight: bold;
    margin-bottom: 5px; 
  }
  
  .news-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%; 
    height: 150px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    left:20%;
    border-radius: 10px;
    position: relative;
  }
  
  .news-box {
    display: flex;
    overflow: hidden;
    width: 90%; 
    justify-content: space-between;
  }
  
  .news-item {
    width: 30%; 
    padding: 10px;
    background-color: #fff;
    margin: 0 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .arrow {
    cursor: pointer;
    font-size: 2rem;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .right-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .arrow:hover {
    color: #000;
  }
  